@import "normalize.css";

.body_main {
    background-color: bisque;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;    
}

.heading {
    font-family:'Monoton';
    color: maroon;
    font-stretch: wider;
    font-weight: thick;
    font-size: 3rem;
}
 
.heading-page {
    font-family:'Monoton';
    color: maroon;
    font-stretch: wider;
    font-weight: thick;
    font-size: 3rem;
    margin: 0.5vh;
}




h2 { 
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    color:maroon;
    justify-content: center;
    font-weight: lighter;
    
    
}
.posts {
   
    font-family: 'Raleway', sans-serif;
    color:maroon;
    
    font-weight: lighter;
    display: block;
    position: fixed;
    align-items: center;
    width: 75%;
    min-height: 40vh;
    border-radius: 10px;
    
}
details {
    display: block;
    margin-left: 1vw;


}
    
    


.blog-container {
    font-family: 'Raleway', sans-serif;
    color:maroon;
    justify-content: space-evenly;
    font-weight: lighter;
    display: flex;
    flex-direction: unset;
    height: 100%;
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    
    border-radius: 10px;
    border: 1px solid rgba(245, 196, 0, 0.486);

}

    img {
    height: 150px;
    width: 150px;
    border-radius: 10px;


}


.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    box-shadow:    
    0 4px 0 0 rgba(0, 100, 0, 0.534),
    0 8px 0 0 rgba(230, 96, 0, 0.39),
    0 12px 0 0 rgba(245, 196, 0, 0.486),
   

    0 -4px 0 0 rgba(0, 100, 0, 0.534),
    0 -8px 0 0 rgba(230, 96, 0, 0.39),
    0 -12px 0 0 rgba(245, 196, 0, 0.486);
    
}
    



.navbar {
    background-color: rgba(230, 96, 0, 0.507);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    
}

.links {
    color: maroon;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

.links:visited {
    text-decoration: none;
    color: maroon;
}
.links:hover {
    color: darkgreen;
    font-size: larger;
    
}
.contact-container {
    display: flex;
    margin-top: 4vw;
    align-items: center;
    justify-content: center;
}
.page-container {
    display: flex;
    margin-top: 4vw;
    align-items: center;
    flex-direction: column;
    
}
.blog-container {
    display: flex;
    margin: 6vh;
    align-items: center;
}
    
.form-contact {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    color:maroon;
    font-weight: lighter;
    align-items: center;
    min-height: 100vh;
    


}
.socials {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    color:maroon;
    font-weight: lighter;
    align-items: center;
    min-height: 100vh;
}
.message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title {
    display: flex;
    
    align-items: center;
    flex-direction: column;
    margin: 1vh;
    
        
    
        
        box-shadow: 
        0 2px 0 0 rgba(0, 100, 0, 0.534),
        0 4px 0 0 rgba(230, 96, 0, 0.39),
        0 6px 0 0 rgba(245, 196, 0, 0.486),

        0 -2px 0 0 rgba(0, 100, 0, 0.534),
        0 -4px 0 0 rgba(230, 96, 0, 0.39),
        0 -6px 0 0 rgba(245, 196, 0, 0.486);

       
    

        
    }
    label, input {
        display: flex;
        color: maroon;
    }
    
    label {
        margin-bottom: 20px;
        
    }

input, text {
    border: darkgreen solid 2px;
    background-color:rgba(230, 96, 0, 0.507);
    border-radius: 10px;
}
.textarea {
    height: 3rem;
}
.submit-button {
    background-color: transparent;
    color: darkgreen;
    padding: 0.25em 4.5em;
    border: none;
    outline:none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    

}
.submit-button:hover {
color: darkgreen;
border: darkgreen solid 2px;
justify-content: flex-end;

}
.paragraph {
    background-color:  rgba(230, 96, 0, 0.103);
    font-family: 'Raleway', sans-serif;
    color:maroon;
    justify-content: space-evenly;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    height: 55%;
    margin: .5vw;
    border-radius: 10px;
    border: 1px solid rgba(245, 196, 0, 0.486);
}

#paragraph-scroll {
    
        background-color:  rgba(163, 92, 41, 0.103);
        font-family: 'Raleway', sans-serif;
        color:maroon;
        
        font-weight: lighter;
        display: flex;

        align-items: center;
        width: 75%;
        height: 55vh;
        margin-top: 2vw;
        border-radius: 10px;
        border: 1px solid rgba(245, 196, 0, 0.486);
        overflow: scroll;
}
#link-container {
    align-items: center;
    display: flex;  
    justify-content: space-evenly;
}
    h5 {
        margin-top: 0vw;
        color: bisque;

    }
  
   


p {
    margin: .5vw;
}
form {
    margin: .5vw;
}
.background {
    border-radius: 10px;
    border: 1px solid rgba(245, 196, 0, 0.486);
    background-color:  rgba(230, 96, 0, 0.103);
    display: flex;
    justify-content: center;
    align-items: center;

}




.socialicon {
   font-size: 5rem;
   color: darkgreen;
   height: 60%;
  


}

.socialicon:hover {
    font-size: 6rem;
    color: maroon;
}
.content {
    align-items: center;
    display: flex;  
    justify-content: space-evenly;
    align-items: center;
    min-height: 40vh;
    min-width: 40vw;
    margin-top: 2vh;
}
 .abouticon {
    font-size: 3rem;
    color: darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vw;
    
    
 }
 .abouticon:hover {
    color: maroon;
 }
 .abouticon:hover h5{
     color: maroon
 }
    
 .git {
    align-items: center;
    display: flex;  
    justify-content: space-evenly;
   flex-direction: column;
    
   
    
 }
.resume {
    align-items: center;
    display: flex;  
    justify-content: space-evenly;
    flex-direction: column;

  
   
    
    
}




