@import "normalize.css";

body {
    background-color: bisque;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    

   
    
    

    box-shadow: 
        0 2px 0 0 rgba(0, 100, 0, 0.534),
        0 4px 0 0 rgba(230, 96, 0, 0.39),
        0 6px 0 0 rgba(245, 196, 0, 0.486),

        0 -2px 0 0 rgba(0, 100, 0, 0.534),
        0 -4px 0 0 rgba(230, 96, 0, 0.39),
        0 -6px 0 0 rgba(245, 196, 0, 0.486);   
}


.heading-page {
    font-family:'Monoton';
    color: maroon;
    font-weight: normal;
    font-size: 3rem;
    margin: 0vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
}

h2 { 
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    color:maroon;
    justify-content: center;
    font-weight: lighter;
}   


img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    box-shadow:    
    0 4px 0 0 rgba(0, 100, 0, 0.534),
    0 8px 0 0 rgba(230, 96, 0, 0.39),
    0 12px 0 0 rgba(245, 196, 0, 0.486),
   

    0 -4px 0 0 rgba(0, 100, 0, 0.534),
    0 -8px 0 0 rgba(230, 96, 0, 0.39),
    0 -12px 0 0 rgba(245, 196, 0, 0.486);    
}
    
.navbar {
    background-color: rgba(230, 96, 0, 0.507);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5vh;  
   
}

.links {
    color: maroon;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

.links:visited {
    text-decoration: none;
    color: maroon;
}

.links:hover {
    color: darkgreen;
    text-decoration: underline;
    font-weight: bold; 
    
}

.contact-container {


       display: flex;  
       align-content: center;
      justify-content:center;
      height: 80vh;
      flex-direction: column;
      flex-wrap: wrap;
}

#page-container {
    display: flex;
    height: 80vh;
    justify-content: space-evenly;
    align-items: center;
   
   width: 500%;
   
    
    
    
      
}
#link-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 85vh;
    width: 100%;
    flex-wrap: wrap;
 
   
    
    
}
#link-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 25vh;
    width: 100%;
    flex-wrap: wrap;
}

.blog-container {
    display: flex;  
     align-content: center;
    justify-content: center;
    height: 80vh;
    flex-direction: column;
    flex-wrap: wrap;
    
    
    
    
}
.blog {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
    width: 80vw;

}
    
.form-contact {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    color:maroon;
    font-weight: lighter;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 80vh;
    
}

.socials {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    color:maroon;
    font-weight: lighter;
    align-items: center;
    
    justify-content: center;
  width: 50%;
  height: 80vh;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
    
        box-shadow: 
        0 2px 0 0 rgba(0, 100, 0, 0.534),
        0 4px 0 0 rgba(230, 96, 0, 0.39),
        0 6px 0 0 rgba(245, 196, 0, 0.486),

        0 -2px 0 0 rgba(0, 100, 0, 0.534),
        0 -4px 0 0 rgba(230, 96, 0, 0.39),
        0 -6px 0 0 rgba(245, 196, 0, 0.486);
}

label, input {
        display: flex;
        color: maroon;
}
    
label {
    margin-bottom: 20px;
}

input, text {
    border: darkgreen solid 2px;
    background-color:rgba(230, 96, 0, 0.507);
    border-radius: 10px;
}

.textarea {
    height: 3rem;
}

.submit-button {
    background-color: transparent;
    color: darkgreen;
    padding: 0.25em 4.5em;
    border: none;
    outline:none;
}

.submit-button:hover {
color: darkgreen;
border: darkgreen solid 2px;
justify-content: flex-end;
}

#paragraph {
    background-color:  rgba(163, 92, 41, 0.103);
    font-family: 'Raleway', sans-serif;
    color:maroon;
    justify-content: center;   
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    width: 60vw;
    border-radius: 10px;
    border: 1px solid rgba(245, 196, 0, 0.486);
    padding-left: 3vw; 
    padding-right: 3vw;
    
    padding-bottom: 3vh;
    
    
}

#paragraph-scroll {
    background-color:  rgba(163, 92, 41, 0.103);
    font-family: 'Raleway', sans-serif;
    color:maroon;
    justify-content: flex-start;   
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 80vw;
    border-radius: 10px;        
    overflow: scroll;
    overflow-x: hidden;
    border: 1px solid rgba(245, 196, 0, 0.486);
    padding-left: 3vh;
padding-right: 3vh;
    
    
}

#paragraph2 {
    background-color:  rgba(163, 92, 41, 0.103);
    font-family: 'Raleway', sans-serif;
    color:maroon;
    justify-content: center;   
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 80vw;
    border-radius: 10px;        
    border: 1px solid rgba(245, 196, 0, 0.486);
}
.posts {
    display: flex;  
    align-content: flex-start;
    justify-content: flex-start;
    
    font-family: 'Raleway', sans-serif;
    color:maroon;
    
    width: 80vw;
   padding-top: 3vh;
    padding-bottom: 6vh;

    
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    padding-left: 0vw;



    
}
        



#paragraph-scroll::-webkit-scrollbar {
    background-color: rgba(0, 100, 0, 0.164);
    width: .25rem;
    border-radius: 10px;
}

#paragraph-scroll::-webkit-scrollbar-thumb {
    background-color: darkgreen;
    border-radius: 10px;
}


   


h5 {
    margin-top: 0vw;
    color: bisque;
}
  
   






.background {
    border-radius: 10px;
    border: 1px solid rgba(245, 196, 0, 0.486);
    background-color:  rgba(230, 96, 0, 0.103);
    display: flex;
    justify-content: center;
    align-items: center;

}




.socialicon {
   font-size: 5rem;
   color: darkgreen;
 
  


}

.socialicon:hover {
    color: maroon;
}


.content {
    align-items: center;
    display: flex;  
    justify-content: space-evenly;
    align-items: center;
    min-height: 10vh;
    min-width: 20vh;
}

 .abouticon {
    font-size: 3rem;
    color: darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
    
 }
 .abouticon:hover {
    color: maroon;
 }
 .abouticon:hover h5{
     color: maroon
 }
    
 .git {
    align-items: center;
    display: flex;  
    justify-content: space-evenly;
   flex-direction: column;
   width: 50%;
    
   
    
 }
.resume {
    align-items: center;
    display: flex;  
    justify-content: space-evenly;
    flex-direction: column;
    width: 50%;

  
   
    
    
}



    p{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
 


.blog-image {
    height: 100px;
    width: 100px;
    
    margin-right: 1rem;
    border-radius: 10px;
    


}

.paragraph-scroll::-webkit-scrollbar {
    background-color: darkgreen;
}
.two {
    height: 20vh;
    width: 100%;
    display: block;
    justify-content: space-evenly;
    align-items: center ;
    flex-direction: row;

}

.one {
display: block;
direction: column;
justify-content: center;
align-items: center;
height: 80vh;
width: 100%;
}
.aboutme {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    height: inherit;
    
    
}